<% content_for :title do %>
I KNOW
<% end %>
<div class="center">
<div id="image" style="display: hidden">
<img id="neil" width="400" height="400" src="/img/diddy.gif" alt="Diddy knows" style="display: hidden">  
</div>
<div id="play_iknow">
<button class='btn btn-danger btn-large' disabled>I KNOW</button>
</div>
<% content_for :scripts do  %>
<script src='/js/iknow.js'></script>
<% end %>
</div>